* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
    margin: 20px 10px 10px 35px 
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
  color: gray;
  padding: 8px 8px;
  margin: 2px 0 2px 30px;
  cursor: pointer;
}

ul li.completed {
  color: green;
}

.tick-icon {
  display: none;
  font-size: 12px;
}

ul li.completed .tick-icon {
  display: inline;
}